    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    <script>
        // Cerca pagina attuale e metti underline a quell'header
        $(".nav-link").each(function(){
            if($(this).attr("href") == window.location.pathname){
                $(this).parent().addClass('active-link');
                return false;
            }
        });

        // Se non ti trovi nella homepage, metti tasto per tornare alla homepage
        if(window.location.pathname != "/courses"){
            $("#back-div").css("display", "block");
        }

        $(function(){
            // check if there is a hash in the url(id)
            if(window.location.hash != ''){
                // remove any accordion panels that are showing(they have a class of 'in')
                $('.collapse').removeClass('in');
                // show the panel based on the hash now:
                $(window.location.hash + '.collapse').collapse('show');
                $(window.location.hash).addClass("highlight-on-load").delay(1000).queue(function(next){
                    $(this).removeClass("highlight-on-load");
                    next();
                });
            } else {
                $('.collapse').eq(1).collapse("show");
            }
        });
    </script>
    

</body>

</html>