<%- include ('./partials/header') %>

<header id="header">
    <nav class="links" style="--items: 5;">
        <a href="#"><i class="fas fa-home"></i> Home</a>
        <a href="#"><i class="fas fa-plus"></i> Post</a>
        <a href="#"><i class="fas fa-info-circle"></i> Informazioni</a>
                
        <% if(utente) { %>
            <a href="#"><i class="fas fa-user-circle"></i> <%= utente.nickname %></a>
            <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
        <% } else { %>
            <a href="#"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a href="#"><i class="fas fa-user-plus"></i> Registrati</a>
        <% } %>
        <span class="line"></span>
    </nav>
</header>

<%- include ('./partials/footer') %>