<%- include ('./partials/header') %>

<div class="container">
    <h1>Ciao, <%= utente.username %>!</h1>
    <p>Presto potrai vedere i tuoi dati e cambiare il tuo username.</p>
    <p>Ma quel momento non è ancora arrivato <i class="far fa-clock"></i></p>
</div>

<%- include ('./partials/footer') %>