* {
    max-width: 100%;
}

.nav-item a {
	outline: none;
}

.post-img {
    max-width: 150px;
    max-height: 150px;
	border: 5px solid #f8f9fa;
	border-radius: 5%;
    box-shadow: 0 0 5px #ddd;
    float: left;
}

.new-post-img {
	width: 100%;
	max-width: 300px;
	border: 5px solid #f8f9fa;
	border-radius: 5%;
	box-shadow: 0 0 5px #ddd;
}

.card-title {
    font-weight: 700;
}

.post-submit {
	justify-content: space-evenly;
}

.post-submit div {
	justify-content: space-evenly;
}

body {
    padding-bottom: 5rem;
    font-family: Nunito;
    box-sizing: border-box;
    /* padding: 0; */
}

.nav-link {
    color: white!important;
}

.nav-link:hover {
    color: #dddddd!important;
}

.dark-blue-rectangle {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    width: 100%;
    overflow: hidden;
}

.btn-big {
    width: 25rem;
    max-width: 100%;
    height: 4rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.15);
    outline: none;
}

.btn-big:focus {
    outline: none;
}

.btn-white {
    background-color: white;
    color: #2786DB;
    border: none;
}

.btn-white:hover {
    background-color: #E9E9E9;
    color: #0d78c0;
    border: none;
}

.btn-white:focus {
    background-color: #CDD1D3;
    color: #0b6fb1;
    border: none;
}

.btn-white-outline {
    background-color: #2786DB;
    color: white;
    border: 2px solid white;
}

.btn-white-outline:hover {
    background-color: #0d78c0;
    color: white;
    border: 2px solid #E9E9E9;
}

.btn-white-outline:focus {
    background-color: #0b6fb1;
    color: white;
    border: 2px solid #CDD1D3;
}

/* Solo su PC */
@media only screen and (min-width: 768px){

    .navbar {
        margin-bottom: 1.5rem;
    }

    .main-header {
        font-size: 3.5rem;
        line-height: 3.5rem;
        padding-bottom: 0.5rem;
    }

    .main-subheader {
        font-size: 1.5rem;
    }

    .btn-big {
        margin-top: 2rem;
    }

    .main-img {
        padding-top: 1rem;
        width: 70%;
    }
    

    ul.mr-auto .nav-item {
        margin-right: 1rem;
    }

    ul.ml-auto .nav-item {
        margin-left: 1rem;
    }

}

/* Solo su telefono */
@media not screen and (min-width: 768px){

    .main-header {
        font-size: 3rem;
        line-height: 3.5rem;
        padding-bottom: 0.5rem;
    }

    .row {
        text-align: center;
    }

    .main-subheader {
        font-size: 1.2rem;
    }

    .btn-big {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .main-img {
        width: 50%;
    }

}

.navbar {
    background-color: #0d78c0;
}

/* h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #2786DB;
} */

.alert {
    transition-duration: 300ms;
}

.red-bg {
    background-color: #ec828b;
}

#chat{
    width: 100%;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    float: left;
}

.info-container {
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
    background-blend-mode: lighten;
}

.chat-message {
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
    display: block;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

.chat-username {
    color: #2786DB;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input, textarea{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    transition-duration: 0.2s;
}

#send{
    background: #2786DB;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
    transition-duration: 0.2s;
}

#send:disabled{
    background: #1f8896;
}

#send:hover{
    background: #2297a7;
}

#img{
    background-color: #45bb28;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
    transition-duration: 0.2s;
}

#img:disabled{
    background: #1e6e14;
}

#img:hover{
    background-color: #3a9c21;
}

footer {
    max-height: 6vh;
    background-color: #f502fd;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
}

.delete {
	background-color: #E74C3C;
	height: 100%;
	text-align: center;
	color: white;
	width: 0px;
	display: inline-block;
	transition: 0.3s;
	/*opacity: 0;*/
}

p:hover .delete {
	margin-right: 10px;
	width: 40px;
	/*opacity: 1.0;*/
}

.delete:hover{
	background-color: rgb(192, 56, 41);
}
.delete:active {
	background-color: rgb(156, 44, 31);
}

.post {
    overflow: hidden;
    /* display: inline-block; */
    max-height: 100%;
}

#attachments-div {
    display: inline-flex;
    flex-wrap: wrap;
}

.back-link, .back-link:visited {
    text-decoration: none;
    position: relative;
    color: #0e1111;
}
.back-link:after, .back-link:visited:after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: #0e1111;
    transition: 0.2s;
}

.back-link:hover:after, .back-link:visited:hover:after {
    width: 100%;
}

.back-link:hover {
    text-decoration: none;
    cursor: pointer;
}

.post-title {
    color: #0e1111;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.date-separator {
    text-align: center;
    font-size: 0.8rem;
    color: #666;
    padding: 14px 0 0 0;
    margin: 0;
}

.round-img {
    max-width: 200px;
    border-radius: 50%;
	border: 5px solid #f8f9fa;
    box-shadow: 0 0 5px #ddd;
}

@keyframes FadeIn {
    from {
        background-color: #2786DB;
    }
    
    to {
        background-color: white;
    }
}

.highlight-on-load {
    background-color: white;
    animation: FadeIn 1s ease-in-out forwards;
}


.img-fit {
    width: 100%;
    height: 100%;
    max-height: 10rem;
    object-fit: cover;
}

.no-link, .no-link:hover, .no-link:visited, .no-link:link, .no-link:active {
    color: #212529;
    text-decoration: none;
}

.img-profilo {
    max-width: 2rem;
    border-radius: 0.5rem;
}

.img-corso {
    max-width: 2rem;
    border-radius: 0.5rem;
}

@media screen and (max-width: 992px) {
    .img-corso {
        width: 100%;
        height: 100%;
        max-height: 10rem;
        object-fit: cover;
    }
}

.small-div-scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 10rem;
}

.show-profile:hover {
    cursor: pointer;
}

.modal-immagine-corso:hover {
    cursor: pointer;
}

.hr {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.card-title, .card-subtitle {
    overflow: hidden;
}

.chat-content p, .chat-message p {
    margin-bottom: 0;
    overflow-wrap: break-word;
}